{% extends 'base.html' %} {% block contenido %} {% load crispy_forms_tags %}
<div class="home-content"></div>
<div class="overview-boxes">

  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h5>Nuevo Pago</h5>
        <a href="{% url 'IngresoApoyo' %}" class="btn btn-info btn-sm"
          >Pago</a
        >
      </div>
    </div>

    <div class="col-md">
      <div class="card card-body">
        <h5>Informacion de Contacto</h5>
        <hr />
        <p><strong>Responsable: </strong> {{apoyosR.responsable_interno}}</p>
        <p><strong>Telefono: </strong> {{apoyosR.contacto}}</p>
        <p><strong>Apoyo total: </strong> {{apoyosR.apoyo_total}}</p>
      </div>
    </div>

    <div class="col-md">
      <div class="card card-body">
        <h5>Pagos Hechos</h5>
        <hr />
        <h1 style="text-align: center; padding: 10px">{{apoyo_count}}</h1>
      </div>
    </div>
  </div>

    <div class="sales-boxes">
      <div class="container p-30">
        <div class="row">
            <div class="col-md-12 main-datatable">
                <div class="card_body">
                    <div class="overflow-x">
                        <table style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                            <thead>
                                <tr>
                                    <th style="min-width:50px;">Interno</th>
                                    <th style="min-width:150px;">Pago</th>
                                    <th style="min-width:150px;">Fecha de Pago</th>
                                    <th style="min-width:150px;">Status</th>
                            </thead>
                            <tbody>
                                {% for apoyo in apoyos%}
                                <tr>
                                    <td>{{apoyosR.interno}}</td>
                                    <td>${{apoyo.cantidad}}.00</td>
                                    <td>{{apoyo.fecha_pago}}</td>
                                    <td>
                                      <a href=""><i color="green" class="bx bxs-check-circle"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>



</section>
 {% endblock %}
